.button{
    -fx-background-color : #ebe8f9;
    -fx-text-fill : #000000;
    -fx-font-family : "Trebuchet MS";
    -fx-font-size : 14px;
}

.button:hover{
    -fx-background-color : #e8dcec;
}
.button:pressed
{
    -fx-background-color : #d1c6d4;
}

.scroll-pane {
    -fx-background-color: #eaeaea;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #eaeaea;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: #ffffff;
}

GridPane > Pane > .label{
    -fx-font-family : "Leelawadee UI";
    -fx-font-size : 15px;
    -fx-font-weight : bold;
}

GridPane > Pane{
    -fx-border-color : black;
    -fx-border-radius : 10px;
    -fx-background-color : #EDE4F1;
}

#userTitle{
    -fx-font-family : "Rockwell";
    -fx-font-size : 16px;
    -fx-font-weight : bold;
}


Pane {
    -fx-border-color : black;
    -fx-border-radius : 10px;
    -fx-background-color : #EDE4F1;
}